/* CSS by Caitlin Garcia */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip {
  position: absolute;
  top: -50px;
  left: 1rem;
  padding: 1rem;
  background-color: #F1FAEE;
  color: #1D3557;
  text-decoration: none;
  font-size: 10px;
  transition: top 0.3s ease;
  align-items: center;
}
#skip:focus {
  top: 2rem;
}
/* ///ADD/// Navigation Styles */
/* ///ADD/// Global Text Styles */

header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem;
  background-color: #1D3557;
  color: #F1FAEE;
  font-family: var(--font-heading);
}

header h1 {
  font-size: 2.5rem;
  color: #F1FAEE;
  margin-bottom: 0.5rem;
}

header .tagline {
  align-items: left;
  font-size: 1;
  color: #F1FAEE;
}

nav {
  background-color: #1D3557;
  color: #F1FAEE;
  font-family: var(--font-body);
  position: relative;
}

 .menu-button {
  display: none;
 }

 .menu {

  list-style: none;
  background-color: #E63946;
  margin-top: 0.5rem;
 }

.menu li {
  margin: 0;
}

.menu li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #F1FAEE;
  text-decoration: none;
  transition: var(--transition);
}

.menu li a:hover {
  background-color: #1D3557;
}

/* ///ADD/// Global Layout Styles */  /* FIX */
main {
  padding: 2rem;
  max-width: 1224px; 
  margin: auto;
}
section {
  display: block;
  margin-bottom: 2rem;
}
section h2 {
  font-family: var(--font-heading);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.welcome {
  max-width: 600px;
  margin-bottom: 2rem;
}

.welcome h2 {
  font-size: 2rem;
}

.welcome p {
  text-align: center;
}

.breaking-news {
  display: grid;
  gap: 1rem;
}

.breaking-news article {
  background-color: #E63946;
  color: #F1FAEE;
  padding: 1rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.breaking-news article:hover {
  transform: translateY(-4px);
}

.breaking-news h3, p {
  margin-bottom: 1rem;
}

.breaking-news video {
  width: 100%;
  display: block;
}

.featured {
  display: grid;
  gap: 1rem;
}

.featured article {
  background-color: #F1FAEE;
  color: #333;
  padding: 1rem;
  border: 1px solid #1D3557;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.featured article:hover {
  transform: translateY(-4px);
}

.featured h3 {
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.featured p {
  font-family: var(--font-body);
  line-height: 1;
}

form {
  background-color: #E63946;
  padding: 2rem;
  color: #F1FAEE;
  box-shadow: var(--shadow);
}

form label {
  display: block;
  margin-top: 1rem;
}

form input[type="text"], form input[type="tel"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

fieldset {
  margin-top: 1rem;
  border: none;
}

legend {
  margin-bottom: 1rem;
}

fieldset input {
  margin-right: 0.5rem;
}

form input[type="submit"] {
  margin-top: 1rem;
  width: 50%;
  padding: 1rem;
  background-color: #1D3557;
  color: #F1FAEE;
  cursor: pointer;
  transition: var(--transition);
  border: none;
  align-items: center;
}

footer {
  background-color: #1D3557;
  color: #F1FAEE;
  text-align: center;
  padding: 2rem 1rem;
}

footer h2 {
  margin-bottom: 1rem;
}

footer p {
  margin: 0.5rem;
}


/* ///ADD/// medium styles 620px */
@media (min-width: 620px) {

  .menu {
    display: flex;
    justify-content: center;
  }
  .menu li {
    border: none;;
  }

  .menu-button {
    display: none;
  }
  
  section article {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ///ADD/// large styles 920px */
@media (min-width: 920px) {

  section article {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  form {
    max-width: 600px;
    margin: auto;
  }
}

/* ///ADD/// x-large styles 1024px */
@media (min-width: 1024px) {

  main {
    padding: 2rem;
  }

  header h1 {
    font-size: 2rem;
  }
  
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: light) {
  body {
  background-color: #F1FAEE;
  color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  body {
  background-color: #333;
  color: #F1FAEE;
  }

}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  .menu {
    display:none;
  }

  nav:has(#menu-toggle:checked) 
  .menu{
    display: block;
  }
}
